@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


.zz-button {
    color: white;
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
    background-color: #ff6a00;
    width: 170px;
    height: 100px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2% /2%;
    transition: color 750ms ease-in-out, font-size 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), background-color 750ms ease-in-out, width 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), height 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), border-radius 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
}

.zz-button:after {
  content: '0';
  font-size: 0;
  display: block;
  transition: font-size 750ms ease-in-out;
}

.zz-button.active {
  font-size: 18px;
  background-color: #54ab0d;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.zz-button.active:after {
  font-size: 48px;
}

.zz-button[zz-button-progress='0'] {
  background-image: linear-gradient(to top, #388a43 0%, #54ab0d 0%);
}

.zz-button[zz-button-progress='0']:after {
  content: "0";
}

.zz-button[zz-button-progress='1'] {
  background-image: linear-gradient(to top, #388a43 1%, #54ab0d 1%);
}

.zz-button[zz-button-progress='1']:after {
  content: "1";
}

.zz-button[zz-button-progress='2'] {
  background-image: linear-gradient(to top, #388a43 2%, #54ab0d 2%);
}

.zz-button[zz-button-progress='2']:after {
  content: "2";
}

.zz-button[zz-button-progress='3'] {
  background-image: linear-gradient(to top, #388a43 3%, #54ab0d 3%);
}

.zz-button[zz-button-progress='3']:after {
  content: "3";
}

.zz-button[zz-button-progress='4'] {
  background-image: linear-gradient(to top, #388a43 4%, #54ab0d 4%);
}

.zz-button[zz-button-progress='4']:after {
  content: "4";
}

.zz-button[zz-button-progress='5'] {
  background-image: linear-gradient(to top, #388a43 5%, #54ab0d 5%);
}

.zz-button[zz-button-progress='5']:after {
  content: "5";
}

.zz-button[zz-button-progress='6'] {
  background-image: linear-gradient(to top, #388a43 6%, #54ab0d 6%);
}

.zz-button[zz-button-progress='6']:after {
  content: "6%";
}

.zz-button[zz-button-progress='7'] {
  background-image: linear-gradient(to top, #388a43 7%, #54ab0d 7%);
}

.zz-button[zz-button-progress='7']:after {
  content: "7%";
}

.zz-button[zz-button-progress='8'] {
  background-image: linear-gradient(to top, #388a43 8%, #54ab0d 8%);
}

.zz-button[zz-button-progress='8']:after {
  content: "8%";
}

.zz-button[zz-button-progress='9'] {
  background-image: linear-gradient(to top, #388a43 9%, #54ab0d 9%);
}

.zz-button[zz-button-progress='9']:after {
  content: "9%";
}

.zz-button[zz-button-progress='10'] {
  background-image: linear-gradient(to top, #388a43 10%, #54ab0d 10%);
}

.zz-button[zz-button-progress='10']:after {
  content: "10%";
}

.zz-button[zz-button-progress='11'] {
  background-image: linear-gradient(to top, #388a43 11%, #54ab0d 11%);
}

.zz-button[zz-button-progress='11']:after {
  content: "11%";
}

.zz-button[zz-button-progress='12'] {
  background-image: linear-gradient(to top, #388a43 12%, #54ab0d 12%);
}

.zz-button[zz-button-progress='12']:after {
  content: "12%";
}

.zz-button[zz-button-progress='13'] {
  background-image: linear-gradient(to top, #388a43 13%, #54ab0d 13%);
}

.zz-button[zz-button-progress='13']:after {
  content: "13%";
}

.zz-button[zz-button-progress='14'] {
  background-image: linear-gradient(to top, #388a43 14%, #54ab0d 14%);
}

.zz-button[zz-button-progress='14']:after {
  content: "14%";
}

.zz-button[zz-button-progress='15'] {
  background-image: linear-gradient(to top, #388a43 15%, #54ab0d 15%);
}

.zz-button[zz-button-progress='15']:after {
  content: "15%";
}

.zz-button[zz-button-progress='16'] {
  background-image: linear-gradient(to top, #388a43 16%, #54ab0d 16%);
}

.zz-button[zz-button-progress='16']:after {
  content: "16%";
}

.zz-button[zz-button-progress='17'] {
  background-image: linear-gradient(to top, #388a43 17%, #54ab0d 17%);
}

.zz-button[zz-button-progress='17']:after {
  content: "17%";
}

.zz-button[zz-button-progress='18'] {
  background-image: linear-gradient(to top, #388a43 18%, #54ab0d 18%);
}

.zz-button[zz-button-progress='18']:after {
  content: "18%";
}

.zz-button[zz-button-progress='19'] {
  background-image: linear-gradient(to top, #388a43 19%, #54ab0d 19%);
}

.zz-button[zz-button-progress='19']:after {
  content: "19%";
}

.zz-button[zz-button-progress='20'] {
  background-image: linear-gradient(to top, #388a43 20%, #54ab0d 20%);
}

.zz-button[zz-button-progress='20']:after {
  content: "20%";
}

.zz-button[zz-button-progress='21'] {
  background-image: linear-gradient(to top, #388a43 21%, #54ab0d 21%);
}

.zz-button[zz-button-progress='21']:after {
  content: "21%";
}

.zz-button[zz-button-progress='22'] {
  background-image: linear-gradient(to top, #388a43 22%, #54ab0d 22%);
}

.zz-button[zz-button-progress='22']:after {
  content: "22%";
}

.zz-button[zz-button-progress='23'] {
  background-image: linear-gradient(to top, #388a43 23%, #54ab0d 23%);
}

.zz-button[zz-button-progress='23']:after {
  content: "23%";
}

.zz-button[zz-button-progress='24'] {
  background-image: linear-gradient(to top, #388a43 24%, #54ab0d 24%);
}

.zz-button[zz-button-progress='24']:after {
  content: "24%";
}

.zz-button[zz-button-progress='25'] {
  background-image: linear-gradient(to top, #388a43 25%, #54ab0d 25%);
}

.zz-button[zz-button-progress='25']:after {
  content: "25%";
}

.zz-button[zz-button-progress='26'] {
  background-image: linear-gradient(to top, #388a43 26%, #54ab0d 26%);
}

.zz-button[zz-button-progress='26']:after {
  content: "26%";
}

.zz-button[zz-button-progress='27'] {
  background-image: linear-gradient(to top, #388a43 27%, #54ab0d 27%);
}

.zz-button[zz-button-progress='27']:after {
  content: "27%";
}

.zz-button[zz-button-progress='28'] {
  background-image: linear-gradient(to top, #388a43 28%, #54ab0d 28%);
}

.zz-button[zz-button-progress='28']:after {
  content: "28%";
}

.zz-button[zz-button-progress='29'] {
  background-image: linear-gradient(to top, #388a43 29%, #54ab0d 29%);
}

.zz-button[zz-button-progress='29']:after {
  content: "29%";
}

.zz-button[zz-button-progress='30'] {
  background-image: linear-gradient(to top, #388a43 30%, #54ab0d 30%);
}

.zz-button[zz-button-progress='30']:after {
  content: "30%";
}

.zz-button[zz-button-progress='31'] {
  background-image: linear-gradient(to top, #388a43 31%, #54ab0d 31%);
}

.zz-button[zz-button-progress='31']:after {
  content: "31%";
}

.zz-button[zz-button-progress='32'] {
  background-image: linear-gradient(to top, #388a43 32%, #54ab0d 32%);
}

.zz-button[zz-button-progress='32']:after {
  content: "32%";
}

.zz-button[zz-button-progress='33'] {
  background-image: linear-gradient(to top, #388a43 33%, #54ab0d 33%);
}

.zz-button[zz-button-progress='33']:after {
  content: "33%";
}

.zz-button[zz-button-progress='34'] {
  background-image: linear-gradient(to top, #388a43 34%, #54ab0d 34%);
}

.zz-button[zz-button-progress='34']:after {
  content: "34%";
}

.zz-button[zz-button-progress='35'] {
  background-image: linear-gradient(to top, #388a43 35%, #54ab0d 35%);
}

.zz-button[zz-button-progress='35']:after {
  content: "35%";
}

.zz-button[zz-button-progress='36'] {
  background-image: linear-gradient(to top, #388a43 36%, #54ab0d 36%);
}

.zz-button[zz-button-progress='36']:after {
  content: "36%";
}

.zz-button[zz-button-progress='37'] {
  background-image: linear-gradient(to top, #388a43 37%, #54ab0d 37%);
}

.zz-button[zz-button-progress='37']:after {
  content: "37%";
}

.zz-button[zz-button-progress='38'] {
  background-image: linear-gradient(to top, #388a43 38%, #54ab0d 38%);
}

.zz-button[zz-button-progress='38']:after {
  content: "38%";
}

.zz-button[zz-button-progress='39'] {
  background-image: linear-gradient(to top, #388a43 39%, #54ab0d 39%);
}

.zz-button[zz-button-progress='39']:after {
  content: "39%";
}

.zz-button[zz-button-progress='40'] {
  background-image: linear-gradient(to top, #388a43 40%, #54ab0d 40%);
}

.zz-button[zz-button-progress='40']:after {
  content: "40%";
}

.zz-button[zz-button-progress='41'] {
  background-image: linear-gradient(to top, #388a43 41%, #54ab0d 41%);
}

.zz-button[zz-button-progress='41']:after {
  content: "41%";
}

.zz-button[zz-button-progress='42'] {
  background-image: linear-gradient(to top, #388a43 42%, #54ab0d 42%);
}

.zz-button[zz-button-progress='42']:after {
  content: "42%";
}

.zz-button[zz-button-progress='43'] {
  background-image: linear-gradient(to top, #388a43 43%, #54ab0d 43%);
}

.zz-button[zz-button-progress='43']:after {
  content: "43%";
}

.zz-button[zz-button-progress='44'] {
  background-image: linear-gradient(to top, #388a43 44%, #54ab0d 44%);
}

.zz-button[zz-button-progress='44']:after {
  content: "44%";
}

.zz-button[zz-button-progress='45'] {
  background-image: linear-gradient(to top, #388a43 45%, #54ab0d 45%);
}

.zz-button[zz-button-progress='45']:after {
  content: "45%";
}

.zz-button[zz-button-progress='46'] {
  background-image: linear-gradient(to top, #388a43 46%, #54ab0d 46%);
}

.zz-button[zz-button-progress='46']:after {
  content: "46%";
}

.zz-button[zz-button-progress='47'] {
  background-image: linear-gradient(to top, #388a43 47%, #54ab0d 47%);
}

.zz-button[zz-button-progress='47']:after {
  content: "47%";
}

.zz-button[zz-button-progress='48'] {
  background-image: linear-gradient(to top, #388a43 48%, #54ab0d 48%);
}

.zz-button[zz-button-progress='48']:after {
  content: "48%";
}

.zz-button[zz-button-progress='49'] {
  background-image: linear-gradient(to top, #388a43 49%, #54ab0d 49%);
}

.zz-button[zz-button-progress='49']:after {
  content: "49%";
}

.zz-button[zz-button-progress='50'] {
  background-image: linear-gradient(to top, #388a43 50%, #54ab0d 50%);
}

.zz-button[zz-button-progress='50']:after {
  content: "50%";
}

.zz-button[zz-button-progress='51'] {
  background-image: linear-gradient(to top, #388a43 51%, #54ab0d 51%);
}

.zz-button[zz-button-progress='51']:after {
  content: "51%";
}

.zz-button[zz-button-progress='52'] {
  background-image: linear-gradient(to top, #388a43 52%, #54ab0d 52%);
}

.zz-button[zz-button-progress='52']:after {
  content: "52%";
}

.zz-button[zz-button-progress='53'] {
  background-image: linear-gradient(to top, #388a43 53%, #54ab0d 53%);
}

.zz-button[zz-button-progress='53']:after {
  content: "53%";
}

.zz-button[zz-button-progress='54'] {
  background-image: linear-gradient(to top, #388a43 54%, #54ab0d 54%);
}

.zz-button[zz-button-progress='54']:after {
  content: "54%";
}

.zz-button[zz-button-progress='55'] {
  background-image: linear-gradient(to top, #388a43 55%, #54ab0d 55%);
}

.zz-button[zz-button-progress='55']:after {
  content: "55%";
}

.zz-button[zz-button-progress='56'] {
  background-image: linear-gradient(to top, #388a43 56%, #54ab0d 56%);
}

.zz-button[zz-button-progress='56']:after {
  content: "56%";
}

.zz-button[zz-button-progress='57'] {
  background-image: linear-gradient(to top, #388a43 57%, #54ab0d 57%);
}

.zz-button[zz-button-progress='57']:after {
  content: "57%";
}

.zz-button[zz-button-progress='58'] {
  background-image: linear-gradient(to top, #388a43 58%, #54ab0d 58%);
}

.zz-button[zz-button-progress='58']:after {
  content: "58%";
}

.zz-button[zz-button-progress='59'] {
  background-image: linear-gradient(to top, #388a43 59%, #54ab0d 59%);
}

.zz-button[zz-button-progress='59']:after {
  content: "59%";
}

.zz-button[zz-button-progress='60'] {
  background-image: linear-gradient(to top, #388a43 60%, #54ab0d 60%);
}

.zz-button[zz-button-progress='60']:after {
  content: "60%";
}

.zz-button[zz-button-progress='61'] {
  background-image: linear-gradient(to top, #388a43 61%, #54ab0d 61%);
}

.zz-button[zz-button-progress='61']:after {
  content: "61%";
}

.zz-button[zz-button-progress='62'] {
  background-image: linear-gradient(to top, #388a43 62%, #54ab0d 62%);
}

.zz-button[zz-button-progress='62']:after {
  content: "62%";
}

.zz-button[zz-button-progress='63'] {
  background-image: linear-gradient(to top, #388a43 63%, #54ab0d 63%);
}

.zz-button[zz-button-progress='63']:after {
  content: "63%";
}

.zz-button[zz-button-progress='64'] {
  background-image: linear-gradient(to top, #388a43 64%, #54ab0d 64%);
}

.zz-button[zz-button-progress='64']:after {
  content: "64%";
}

.zz-button[zz-button-progress='65'] {
  background-image: linear-gradient(to top, #388a43 65%, #54ab0d 65%);
}

.zz-button[zz-button-progress='65']:after {
  content: "65%";
}

.zz-button[zz-button-progress='66'] {
  background-image: linear-gradient(to top, #388a43 66%, #54ab0d 66%);
}

.zz-button[zz-button-progress='66']:after {
  content: "66%";
}

.zz-button[zz-button-progress='67'] {
  background-image: linear-gradient(to top, #388a43 67%, #54ab0d 67%);
}

.zz-button[zz-button-progress='67']:after {
  content: "67%";
}

.zz-button[zz-button-progress='68'] {
  background-image: linear-gradient(to top, #388a43 68%, #54ab0d 68%);
}

.zz-button[zz-button-progress='68']:after {
  content: "68%";
}

.zz-button[zz-button-progress='69'] {
  background-image: linear-gradient(to top, #388a43 69%, #54ab0d 69%);
}

.zz-button[zz-button-progress='69']:after {
  content: "69%";
}

.zz-button[zz-button-progress='70'] {
  background-image: linear-gradient(to top, #388a43 70%, #54ab0d 70%);
}

.zz-button[zz-button-progress='70']:after {
  content: "70%";
}

.zz-button[zz-button-progress='71'] {
  background-image: linear-gradient(to top, #388a43 71%, #54ab0d 71%);
}

.zz-button[zz-button-progress='71']:after {
  content: "71%";
}

.zz-button[zz-button-progress='72'] {
  background-image: linear-gradient(to top, #388a43 72%, #54ab0d 72%);
}

.zz-button[zz-button-progress='72']:after {
  content: "72%";
}

.zz-button[zz-button-progress='73'] {
  background-image: linear-gradient(to top, #388a43 73%, #54ab0d 73%);
}

.zz-button[zz-button-progress='73']:after {
  content: "73%";
}

.zz-button[zz-button-progress='74'] {
  background-image: linear-gradient(to top, #388a43 74%, #54ab0d 74%);
}

.zz-button[zz-button-progress='74']:after {
  content: "74%";
}

.zz-button[zz-button-progress='75'] {
  background-image: linear-gradient(to top, #388a43 75%, #54ab0d 75%);
}

.zz-button[zz-button-progress='75']:after {
  content: "75%";
}

.zz-button[zz-button-progress='76'] {
  background-image: linear-gradient(to top, #388a43 76%, #54ab0d 76%);
}

.zz-button[zz-button-progress='76']:after {
  content: "76%";
}

.zz-button[zz-button-progress='77'] {
  background-image: linear-gradient(to top, #388a43 77%, #54ab0d 77%);
}

.zz-button[zz-button-progress='77']:after {
  content: "77%";
}

.zz-button[zz-button-progress='78'] {
  background-image: linear-gradient(to top, #388a43 78%, #54ab0d 78%);
}

.zz-button[zz-button-progress='78']:after {
  content: "78%";
}

.zz-button[zz-button-progress='79'] {
  background-image: linear-gradient(to top, #388a43 79%, #54ab0d 79%);
}

.zz-button[zz-button-progress='79']:after {
  content: "79%";
}

.zz-button[zz-button-progress='80'] {
  background-image: linear-gradient(to top, #388a43 80%, #54ab0d 80%);
}

.zz-button[zz-button-progress='80']:after {
  content: "80%";
}

.zz-button[zz-button-progress='81'] {
  background-image: linear-gradient(to top, #388a43 81%, #54ab0d 81%);
}

.zz-button[zz-button-progress='81']:after {
  content: "81%";
}

.zz-button[zz-button-progress='82'] {
  background-image: linear-gradient(to top, #388a43 82%, #54ab0d 82%);
}

.zz-button[zz-button-progress='82']:after {
  content: "82%";
}

.zz-button[zz-button-progress='83'] {
  background-image: linear-gradient(to top, #388a43 83%, #54ab0d 83%);
}

.zz-button[zz-button-progress='83']:after {
  content: "83%";
}

.zz-button[zz-button-progress='84'] {
  background-image: linear-gradient(to top, #388a43 84%, #54ab0d 84%);
}

.zz-button[zz-button-progress='84']:after {
  content: "84%";
}

.zz-button[zz-button-progress='85'] {
  background-image: linear-gradient(to top, #388a43 85%, #54ab0d 85%);
}

.zz-button[zz-button-progress='85']:after {
  content: "85%";
}

.zz-button[zz-button-progress='86'] {
  background-image: linear-gradient(to top, #388a43 86%, #54ab0d 86%);
}

.zz-button[zz-button-progress='86']:after {
  content: "86%";
}

.zz-button[zz-button-progress='87'] {
  background-image: linear-gradient(to top, #388a43 87%, #54ab0d 87%);
}

.zz-button[zz-button-progress='87']:after {
  content: "87%";
}

.zz-button[zz-button-progress='88'] {
  background-image: linear-gradient(to top, #388a43 88%, #54ab0d 88%);
}

.zz-button[zz-button-progress='88']:after {
  content: "88%";
}

.zz-button[zz-button-progress='89'] {
  background-image: linear-gradient(to top, #388a43 89%, #54ab0d 89%);
}

.zz-button[zz-button-progress='89']:after {
  content: "89%";
}

.zz-button[zz-button-progress='90'] {
  background-image: linear-gradient(to top, #388a43 90%, #54ab0d 90%);
}

.zz-button[zz-button-progress='90']:after {
  content: "90%";
}

.zz-button[zz-button-progress='91'] {
  background-image: linear-gradient(to top, #388a43 91%, #54ab0d 91%);
}

.zz-button[zz-button-progress='91']:after {
  content: "91%";
}

.zz-button[zz-button-progress='92'] {
  background-image: linear-gradient(to top, #388a43 92%, #54ab0d 92%);
}

.zz-button[zz-button-progress='92']:after {
  content: "92%";
}

.zz-button[zz-button-progress='93'] {
  background-image: linear-gradient(to top, #388a43 93%, #54ab0d 93%);
}

.zz-button[zz-button-progress='93']:after {
  content: "93%";
}

.zz-button[zz-button-progress='94'] {
  background-image: linear-gradient(to top, #388a43 94%, #54ab0d 94%);
}

.zz-button[zz-button-progress='94']:after {
  content: "94%";
}

.zz-button[zz-button-progress='95'] {
  background-image: linear-gradient(to top, #388a43 95%, #54ab0d 95%);
}

.zz-button[zz-button-progress='95']:after {
  content: "95%";
}

.zz-button[zz-button-progress='96'] {
  background-image: linear-gradient(to top, #388a43 96%, #54ab0d 96%);
}

.zz-button[zz-button-progress='96']:after {
  content: "96%";
}

.zz-button[zz-button-progress='97'] {
  background-image: linear-gradient(to top, #388a43 97%, #54ab0d 97%);
}

.zz-button[zz-button-progress='97']:after {
  content: "97%";
}

.zz-button[zz-button-progress='98'] {
  background-image: linear-gradient(to top, #388a43 98%, #54ab0d 98%);
}

.zz-button[zz-button-progress='98']:after {
  content: "98%";
}

.zz-button[zz-button-progress='99'] {
  background-image: linear-gradient(to top, #388a43 99%, #54ab0d 99%);
}

.zz-button[zz-button-progress='99']:after {
  content: "99%";
}

.zz-button[zz-button-progress='100'] {
  background-image: linear-gradient(to top, #388a43 100%, #54ab0d 100%);
}

.zz-button[zz-bu0px;
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: top left;
  animation: progress-done-post 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
}

@keyframes progress-done-post {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 20px;
  }
  100% {
    width: 50px;
    height: 20px;
  }
}