@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #444;
	background: #E5E8EF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #DF7932;
	text-decoration: none;
}

a:hover, a:focus {
	color: #333;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Header */
.codrops-header {
	padding: 2em 1em 4em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-size: 3em;
	line-height: 1;
}

.codrops-header h1 span {
	text-transform: uppercase;
	letter-spacing: 3px;
	display: block;
	padding: 2em 0 0;
	color: #BBBFCB;
	font-size: 0.285em;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: rgba(0,0,0,0.1);
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;

	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Demo links */
.codrops-demos {
	margin: 2em 0 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 0.5em;
	font-weight: bold;
}

.codrops-demos a.current-demo {
	color: #333;
}

/* Content */
.content {
	padding: 3em 0;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}

/*Style selects */
.select-css {
	display: block;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	font-weight: 100;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .3em .8em;
	width: 120px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

	.select-css::-ms-expand {
		display: none;
	}

	.select-css:hover {
		border-color: #888;
	}

	.select-css:focus {
		border-color: #aaa;
		box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
		box-shadow: 0 0 0 3px -moz-mac-focusring;
		color: #222;
		outline: none;
	}

	.select-css option {
		font-weight: normal;
	}

	/************************************POP UP DE ORDEN DE PRODUCCIÓN */
/* CDN Font Awesome :
https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css
*/
.open-modal {
	cursor: pointer;
	color: blue;
	font-size: 30px;
}

#mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: black;
	z-index: 98;
	opacity: 0.8;
}

.modal {
	background-color: #fff;
	display: none;
	position: fixed;
	top: 35%;
	left: 40%;
	width: 300px;
	height: 210px;
	margin-top: 35px;
	padding: 25px;
	z-index: 99;
}

.close-modal {
	color: #000;
	text-decoration: none;
	float: right;
	position: absolute;
	top: 10px;
	right: 20px
}

@media (max-width : 37.500rem) {
	.modal {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 1.250rem
	}

	.close-modal {
		display: block;
		position: relative;
		padding: 5px 10px 20px 0
	}

	.modal-content {
		clear: both;
		padding-right: 1.25rem
	}
}


/************************************************************TABLA OP*/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
	/*background: rgba( 71, 147, 227, 1);*/
}

h2 {
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
	margin: 10px 70px 70px;
	box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
}

	.fl-table td, .fl-table th {
		text-align: center;
		padding: 1px;
	}

	.fl-table td {
		border-right: 1px solid #f8f8f8;
		font-size: 12px;
	}

	.fl-table thead th {
		color: #ffffff;
		background: #4FC3A1;
	}


		.fl-table thead th:nth-child(odd) {
			color: #ffffff;
			background: #324960;
		}

	.fl-table tr:nth-child(even) {
		background: #F8F8F8;
	}

/* Responsive */

@media (max-width: 767px) {
	.fl-table {
		display: block;
		width: 100%;
	}

	.table-wrapper:before {
		content: "Scroll horizontally >";
		display: block;
		text-align: right;
		font-size: 11px;
		color: white;
		padding: 0 0 10px;
	}

	.fl-table thead, .fl-table tbody, .fl-table thead th {
		display: block;
	}

		.fl-table thead th:last-child {
			border-bottom: none;
		}

	.fl-table thead {
		float: left;
	}

	.fl-table tbody {
		width: auto;
		position: relative;
		overflow-x: auto;
	}

	.fl-table td, .fl-table th {
		padding: 20px .625em .625em .625em;
		height: 60px;
		vertical-align: middle;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: auto;
		width: 120px;
		font-size: 13px;
		text-overflow: ellipsis;
	}

	.fl-table thead th {
		text-align: left;
		border-bottom: 1px solid #f7f7f9;
	}

	.fl-table tbody tr {
		display: table-cell;
	}

		.fl-table tbody tr:nth-child(odd) {
			background: none;
		}

	.fl-table tr:nth-child(even) {
		background: transparent;
	}

	.fl-table tr td:nth-child(odd) {
		background: #F8F8F8;
		border-right: 1px solid #E6E4E4;
	}

	.fl-table tr td:nth-child(even) {
		border-right: 1px solid #E6E4E4;
	}

	.fl-table tbody td {
		display: block;
		text-align: center;
	}
}



/*Search style*/


.searchBox {
	/*position: absolute;*/
	/*top: 1%;
	left: 1%;*/
	transform: translate(-10%, 50%);
	background: #4FC3A1;
	height: 40px;
	border-radius: 40px;
	/*padding: 10px;*/
}

	.searchBox:hover > .searchInput {
		width: 340px;
		padding: 0 16px;
	}

	.searchBox:hover > .searchButton {
		background: white;
		color: #2f3640;

	}

.searchButton {
	color: white;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #324960;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.searchInput {
	border: none;
	background: none;
	outline: none;
	/*float: left;*/
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 240px;
}

@media screen and (max-width: 620px) {
	.searchBox:hover > .searchInput {
		width: 150px;
		padding: 0 6px;
	}
}



/************************************POP UP DE ORDEN DE PRODUCCIÓN  MODAL 2 */
/* CDN Font Awesome :
https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css
*/
.open-modal2 {
	cursor: pointer;
	color: blue;
	font-size: 30px;
}

#mask2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: black;
	z-index: 98;
	opacity: 0.8;
}

.modal2 {
	background-color: #fff;
	display: none;
	position: fixed;
	top: 35%;
	left: 40%;
	width: 300px;
	height: 250px;
	overflow-y: auto;
	margin-left: 20px;
	margin-top: 10px;
	padding: 40px;
	z-index: 99;
}

.close-modal2 {
	color: #000;
	text-decoration: none;
	float: right;
	position: absolute;
	top: 10px;
	right: 20px
}

@media (max-width : 37.500rem) {
	.modal2 {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 1.250rem
	}

	.close-modal2 {
		display: block;
		position: relative;
		padding: 5px 10px 20px 0
	}

	.modal-content2 {
		clear: both;
		padding-right: 1.25rem
	}
}
/*STY select GRUPOS DE OP*/ 
.box {
  position: absolute;
  top: 90%;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius:20px;
}

.box select {
	background-color: black;
	color: white;
	padding: 12px;
	width: 450px;
	border: none;
	font-size: 40px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	border-radius: 20px;
	cursor:pointer;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 10px;
}
